.planet-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); 
  height: calc(100vh - 5rem);
  width: 100vw;
  font-family: sans-serif;
  color: white;
  z-index: 2;

  .image-wrapper {
    grid-area: 1 / 1 / 5 / 4;
    justify-self: center;
    align-self: center;
    img {
      width: 20rem;
    }
  }

  .main-wrapper {
    display: grid;
    // flex-direction: column;
    // justify-content: center;
    grid-template-rows: fit-content 1fr fit-content fit-content;
    grid-area: 1 / 4 / 5 / 6;
    padding: 2rem;
    max-height: 100%;

    h1 {
      font-family: $font-title;
      font-size: 1.75rem;
    }

    p {
      margin-top: 2rem;
      max-height: 100%;
      overflow: scroll;
    }

    span {
      margin-top: 1rem;
    }

    .inner-content-links {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      :not(:first-child) {
        margin-top: 0.75rem;
      }

      .inner-link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2.25rem;
        padding: 0 1rem;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(128, 128, 128, 0.466);
        cursor: pointer;

        span {
          margin: 0;
        }

        h4 {
          margin: 0 1rem;
        }

        &.selected {
          background-color: rgba(0, 0, 255, 0.514);
          border: 1px solid rgba(0, 0, 255, 0.514);
        }
        
      }
    }
  }

  .info-cards-wrapper {
    display: flex;
    grid-area: 5 / 1 / 6 / 6;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    
    .info-card {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(128, 128, 128, 0.466);
      border-radius: 2px;
      cursor: default;

      h5 {
        font-size: 0.675rem;
        color:rgba(255, 255, 255, 0.5)
      }

      :not(:first-child) {
        margin-top: 0.5rem;
        font-size: 1.25rem;
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}