.header-container {
  @include responsive-padding(1rem, 1rem);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  background-color:rgba(0, 0, 0, 0.5);
  font-family: $font-title;
  z-index: 3;

  #planet-icon {
    cursor: pointer;
  }

  .header-list {
    display: flex;
    gap: 0.75rem;
    span {
      position: relative;
      cursor: pointer;

      &.selected {
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 2.5rem;
          height: 2px;
          background-color: rgba(0, 0, 255, 0.9);
        }
      }
    }
  }

  .header-menu-wrapper {
    position: absolute;
    top: 6rem;
    right: 4rem;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    outline: 1px solid rgba(255, 255, 255, 0.8);
    background-color:rgb(26, 26, 26);
  }
}