.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.507);
  background-color:rgba(0, 0, 0, 0.5);
  padding: 1.25rem 0.75rem;
  font-family: $font-title;
  z-index: 2;

  .header-list {
    display: flex;
    gap: 0.75rem;
  }
}