.header-container {
  // @include responsive-padding(1rem, 1rem);
  padding: 1rem calc(8rem + 5vw);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  background-color:rgba(0, 0, 0, 0.5);
  font-family: $font-title;
  z-index: 3;

  #planet-icon {
    cursor: pointer;
  }

  .header-list {
    display: flex;
    gap: 0.75rem;
    span {
      position: relative;
      cursor: pointer;

      &.selected {
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 2.5rem;
          height: 2px;
        }
        
        &.mercury-selected {
          &::after {
            background-color: #AA6529;
          }
        };
        &.venus-selected {
          &::after {
            background-color: #C97D3F;
          }
        }
        &.earth-selected {
          &::after {
            background-color: #0582C6;
          }
        }
        &.mars-selected {
          &::after {
            background-color: #BB2317;
          }
        }
        &.jupiter-selected {
          &::after {
            background-color: #947141;
          }
        }
        &.saturn-selected {
          &::after {
            background-color: #B65546;
          }
        }
        &.uranus-selected {
          &::after {
            background-color: #097492;
          }
        }
        &.neptune-selected {
          &::after {
            background-color: #4BB6FB;
          }
        }
        &.pluto-selected {
          &::after {
            background-color: #c94c41;
          }
        }
      }
    }
  }

  .header-menu-wrapper {
    position: absolute;
    top: 6rem;
    right: 4rem;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    outline: 1px solid rgba(255, 255, 255, 0.8);
    background-color:rgb(26, 26, 26);
  }

  @media only screen and ($desktop-size) {
    padding: 1rem 6rem;

  }
  @media only screen and ($notebook-size) {
    padding: 1rem 4rem;
  }
  @media only screen and ($tablet-size) {
    padding: 1rem 0.75rem;

    .header-menu-wrapper {
      right: 1rem;
    }
  }
}