.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.507);
  background-color:rgba(0, 0, 0, 0.5);
  padding: 1.25rem 0.75rem;
  font-family: $font-title;
  z-index: 2;

  .header-list {
    display: flex;
    gap: 0.75rem;

    span {
      position: relative;
      cursor: pointer;

      &.selected {
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 2.5rem;
          height: 2px;
          background-color: rgba(0, 0, 255, 0.9);
        }
      }
    }
  }
}