// Media Variables
$mobile-size: "max-width: 320px";
$tablet-size: "max-width: 600px";
$notebook-small-size: "max-width: 850px";
$notebook-size: "max-width: 1024px";
$desktop-size: "max-width: 1280px";

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt 1rem $pb;

  @media only screen and ($tablet-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($desktop-size) {
    padding: $pt calc(8rem + 5vw) $pb;
  }
}

// Fonts
@font-face {
  font-family: "Elianto-Regular";
  src: url("./assets/fonts/Elianto/Elianto-Regular.ttf");
}

$font-title: "Elianto-Regular", sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap
}

.App {
  position: relative;
  background: url('./assets/space-travel-ss.png');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@import './components/BgVideo/BgVideo';
@import './components/Header/Header';
@import './components/PlanetContainer/PlanetContainer';
@import './components/HeaderMenu/HeaderMenu';